<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block heading %}Min webbplats{% endblock %}</title>
</head>

<body>
    <h1>: Företag</h1>
    <nav>
        <a href="/">Hem</a>
        <a href="/about">Om oss</a>
        <a href="/contact">Kontakt</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2036 Kolon Sauce AB</p>
    </footer>

</body>
</html>